/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

.sidebarcolor {
    background-color: #ADD8E6;
}

.icon-bar {
    background-color: black !important ;
}

/* #name { */
/*     font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif; */
/* } */
.jumbotron {
    position: relative;
    /* background: #000 url(../images/front-logo-empty.jpeg) center center; */
    background: #132020;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 25px !important;
}

.sidepic {
    height:150px;
    width:100%;
    background:url(/images/solaire_idle.gif) center center no-repeat;
    background-size:contain;
}
.homecontainer {
    padding-top: 0px !important;
}

.homepagetopbookbar {
    padding:0px 0px 1px 0px !important;
}

.bookAdBanner {
    background-color: #102f52;
    color: white;
    padding:46px 0px 1px 0px;
    font-size: 20px;
}

.pagetopbookbar {
    font-size: 20px;
    background-color: #102f52;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#102f52+0,1d68a1+51,102f52+100 */
/* background: #102f52; /\* Old browsers *\/ */
/* background: -moz-linear-gradient(left,  #102f52 0%, #1d68a1 51%, #102f52 100%); /\* FF3.6-15 *\/ */
/* background: -webkit-linear-gradient(left,  #102f52 0%,#1d68a1 51%,#102f52 100%); /\* Chrome10-25,Safari5.1-6 *\/ */
/* background: linear-gradient(to right,  #102f52 0%,#1d68a1 51%,#102f52 100%); /\* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *\/ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#102f52', endColorstr='#102f52',GradientType=1 ); /\* IE6-9 *\/ */


    /* /\* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+54,1e5799+100 *\/ */
    /* background: #1e5799; /\* Old browsers *\/ */
    /* background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 54%, #1e5799 100%); /\* FF3.6-15 *\/ */
    /* background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 54%,#1e5799 100%); /\* Chrome10-25,Safari5.1-6 *\/ */
    /* background: linear-gradient(to right,  #1e5799 0%,#2989d8 54%,#1e5799 100%); /\* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *\/ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 ); /\* IE6-9 *\/ */

    padding:46px 0px 1px 0px;
}

.homebookbar {
    padding: 50px 50px 1px 50px;
}

.border {
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

.book {
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    max-width:100%;
}
.subscript{font-size:xx-small; vertical-align:bottom;}

.underline {
    border-bottom: 1px solid black;
    /* border-top: 1px solid black; */
}
/* Sticky footer styles
-------------------------------------------------- */

.sidebar_ul {
    margin-left: 0px;
    padding: 0;

}

.bookList {
    list-style-type:none;
}

.icon {
    margin-right: 10px;
}

.bookDesc {
    margin-left: 10px;
}

.onHover {
    cursor: pointer;
}

.plainlink {
    color: black;
}
.link {
    color: #222;
    text-decoration: underline;
}

.sidebar_li a {
    color: #222;
    text-decoration: underline;
}
/* a:visited {  color:red; } */

.sidebar_li {
    padding: .5em 0;
    border-bottom: 1px solid #ededed;
    list-style: none;
    margin: none;
    display: list-item;
    text-align: -webkit-match-parent;
    color: #222;
}
.col-centered{
    margin: 0 auto;
    margin-left: 0;
}
.centereded {
    text-align: center;
}
.navbar {
    border-bottom: 1px solid black;
}
.navbar,
.nav,
.navbar-nav,
.navbar-nav>li>a,
.navbar-default .navbar-brand
 {
     color: black !important;
     background-color: #FFFFFF !important;
 }
/* a .label { */
/*     color: white; */
/*     text-decoration: none; */
/* } */
.evens {
    background-color: gray;
}
.enforcedscore {
    color: green;
}
.header-text {
    /* font-family: georgia,"times new roman",times,serif; */
    /* font-size: 40px; */
    /* text-align: center; */
    /* width: 100%; */
}
.serif {
    font-family: georgia,"times new roman",times,serif;
}
.hll {
    background-color: gray;
}
.content {
    /* font-family: georgia,"times new roman",times,serif; */
    /* font-size: 20px; */
    /* line-height: 24px; */
    /* font-weight: 400; */
    /* font-size: 18px; */
}
.imgcenter {
    margin: 0 auto;
}
.navbar-default .navbar-brand {
    color:black important!;
}
img {
    max-width: 100%;
}
pre code, code, .hljs {
    overflow: auto !important;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /* font-family: 'Open Sans', 'sans-serif'; */
    /* font-family:, Georgia,  'Times New Roman', serif; */

    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.containerwithgap {
     padding: 45px 15px 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


.margin-10{margin-bottom:10px; margin-right:10px;}

.postlink {
    color: #008cba !important;
    text-decoration:none !important;
}

.badge {
    background-color: grey;
}
.list-banner {
    overflow: hidden;
}
.crop {
    height: 75px;
    width: 75px;
    overflow: hidden;
    background-position: center;
}
.lead {
    float:right;
}
